{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "doubleQuote": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
